:root{
    --text-font: 'Josefin Slab', serif;
    --tittles-font: 'Fredericka the Great', cursive;
    --special-font: 'Amatic SC', cursive;
    --ulrich: #8fbc8f;
    --aelita: #800080;
    --odd: #4b0082;
    --jeremy: #4169e1;
    --yumi: #000;
    --white: #fff;
    --darknes: #0f3057;
    --middle: #00587a;
    --lowest: #008891;
    --clear: #e7e7de;
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul li{
    list-style: none;
}
body{
    font-size: 1.2rem;
    background-image: url(../assets/lenguagessinfondo.png), linear-gradient(to left bottom, rgba(143, 188, 143, 0.8), rgba(75, 156, 138, 0.8), rgba(0, 121, 132, 0.8), rgba(0, 84, 116, 0.8), rgba(15, 48, 87, 0.8)), url(../assets/programing.jpg);
    background-size: 40vw, cover, cover;
    background-position: bottom 25px right 25px, center, center;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
}
main{
    display: grid;
    grid-template: repeat(4, minmax(75px ,1fr)) / repeat(4, minmax(75px ,1fr));
}
img{
    width: 7.5rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--tittles-font);
}
.contact_options{
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5rem;
    margin: 1rem;
}
.contact_options--name_page{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact_options--principal--social_link_container{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 70%;
    padding: 1rem;
}
.userpicture{
    border-radius: 100%;
    width: calc( 100vw / 5);
}
.item1{
  display: flex;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: center;
  align-items: end;
}
@media  (min-width: 500px){
  img {
    width: 100px;
  }
}